@model IEnumerable<Client.WEb.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre1.NameGenre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genre1.NameGenre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdClient }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdClient }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdClient })
        </td>
    </tr>
}

</table>
